<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qishiyun.familyedu.mapper.TRecordInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qishiyun.familyedu.entity.TRecordInfo">
		<id column="infoId" property="infoId" />
		<result column="recordId" property="recordId" />
		<result column="questionId" property="questionId" />
		<result column="questionUuid" property="questionUuid" />
		<result column="version" property="version" />
		<result column="answer" property="answer" />
		<result column="useTime" property="useTime" />
		<result column="createTime" property="createTime" />
		<result column="status" property="status" />
	</resultMap>
	<select id="getRecordInfoList1" resultType="com.qishiyun.familyedu.entity.RecordInfoBase">
		select a.questionId,a.answer from t_record_info a inner join
		(select questionId,max(infoId) infoId from t_record_info  where recordId =#{recordId} group by questionId) b
		on  a.`infoId`=b.infoId  order by a.questionId;
	</select>

	<select id="getRecordInfoList" resultType="com.qishiyun.familyedu.entity.RecordInfoBase">
		select aa.questionId,aa.answer,bb.score from (select a.questionId,a.answer from t_record_info a inner join (select questionId,max(infoId) `infoId`from t_record_info  where  recordId =#{recordId}  group by questionId) b
		on  a.`infoId`=b.infoId  order by a.`questionId`) aa left join
		(select `questionId`,score,`innerOrder` from t_psy_testpaper_item) bb
		on aa.questionId = bb.questionId and cast(aa.answer as unsigned int) = bb.innerOrder;
	</select>
	<select id="getRecordInfoList2" resultType="com.qishiyun.familyedu.entity.RecordInfoBase">
		select questionId,answer,recordId from t_record_info where infoId in
		(select max(infoId) from t_record_info where recordId =#{recordId} group by questionId);
	</select>

</mapper>
